/* "dark mode" */

body {
    background-color: #222;
    color: white;
}

h1 {
    text-align: center;
    font-family: sans;
    font-weight: 100;
    letter-spacing: 0.3em;
    font-variant: small-caps;
    color: gray;
}

a {
    color: #f80;
}

a:visited {
    color: #a70;
}

.drawer {
    position: fixed;
    right: 1em;
    bottom: 1em;
    padding: 1em;
    border: white 1px solid;
    border-radius: 1em;
    max-height: 70vh;
    background-color: black;
    overflow: auto;
}

.drawer-title {
    text-align: center;
    padding-bottom: 1em;
    text-transform: uppercase;
    color: #aaa;
}

.drawer-thumb {
    image-orientation: from-image;
    float: left;
    width: 150px;
    height: 150px;
}

.galleryLink  {
    position: relative; /* for absolute positioning of caption */
    display: block;
    color: white;
    text-decoration: none;
    height: 150px;
    width: 150px;
    float: left;

    image-orientation: from-image;
    font-family: sans;
    font-size: 11px;
}

.galleryLink:hover {
    background-color: #333;
    color: #fff6;
}

.galleryLink span {
    position: absolute;
    background-color: #000a;
    padding: 3px;
    width: 100%;
}

.thumb {
    image-orientation: from-image;
    float: left;
    width: 300px;
    height: 300px;
}

.image {
    max-width: 90vw;
    /* allow hiding bottom third but always show middle third. */
    max-height: 150vh;
    image-orientation: from-image;
    /* center */
    margin: 0 auto;
    display: block;
}

.pagerLink {
    clear: left;
    display: block;
    width: 100%;
    text-align: center;
    color: #888;
    text-decoration: none;
    font-size: 3em;
}

.metadata {
    position: fixed;
    /* Must always be at least as wide as .siblink otherwise it's hard to reach metadata with a mouse. */
    width: 20vw;
    min-width: 10em;
    text-align: left;
    top: 4em;
    right: 0;
    padding: 1em;
    background-color: #2228;
}

.siblink {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    position: fixed;
    top: 0;

    text-align: center;
    color: transparent;
    cursor: pointer;
    font-size: xxx-large;
    text-decoration: none;
}

.siblink:hover {
    color: white;
    background-color: #000a;
    /* bring to top when we touch part of it. */
    z-index: 2;
}

/* Used for the right-side siblink. */
.right {
    right: 0;
}

.share {
    text-decoration:none;
    display:block;
}
.share::before {
    /* Note: link emoji between quotes */
    content: "🔗";
}

.share span {
    text-decoration:underline;
    color: #ff9;
}

.tag::before {
    /* Note: tag emoji between quotes */
    content: "🏷️";
}

.tag {
    border: #fba solid 1px;
    margin: 1px;
    border-radius: 3px;
    padding: 1px;
    line-height: 1.5em;

    background-color:#666;
    color: #fba;
    text-decoration: none;
}

.date::before {
    /* Note: calendar emoji between quotes */
    content: "📅";
}

.busy::after {
    /* Note: hourglass emoji between quotes */
    content: "⏳";
}

.metadata div {
    margin-top: 0.5em;
    margin-bottom:0.5em;
}

.date {
    border: white solid 1px;
    margin-left: 1px;
    margin-right: 2px;
    border-radius: 3px;
    padding: 1px;
    background-color: #844;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.debug {
    clear: both;
    font-family: monospace;
    color: darkgray;
}

.copyright {
    clear: both;
    color: gray;
}

/* Login */

.login {
    /* Full screen */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;

    /* Center elements */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 3em;
}

.login-message {
    font-family: serif;
    font-style: italic;
    color: #adf;
    font-weight: lighter;
}

/* Enable font-size cascading on input elements */
.login input {
    font-size: 1em;
}

.login input[type='text'] {
    margin: 1em;
}

.login input[type='submit'] {
    /* Matches: .login-message */
    background-color: #adf;
    border-color: #cef;
    border-width: 5px;
}

/* Editor */

.button {
    cursor: pointer;
    background-color: #666;
    color: pink;
    border-radius: 5px;
    padding: 3px;
    font-variant: small-caps;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #888 #333 #333 #888;
}

.cursor {
    height: 1em;
    width: 2px;
    background-color: white;
    display: inline-block;
    margin: 0 -1px;
    vertical-align: middle;
    animation: blink 1s infinite;
}

/* Text to display when the description is empty and editable. */
.description-editor:empty::before {
    content: 'Description';
    font-style: italic;
    color: #999;
}

@keyframes blink {
  0%, 49% {
    opacity: 100%;
  }
  50%, 100% {
    opacity: 0%;
  }
}

.stub {
    position: relative;
}

.pop-up-holder {
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    vertical-align: bottom;
}

.pop-up {
    max-height: 15em;
    overflow: auto;
    position: relative;
    width: max-content;
    background-color: #0008;
    border: #f99 1px solid;
    padding: 3px;
}

.pop-up div {
    margin: 0;
}

.pop-up div:hover {
    background-color: #888;
    cursor: pointer;
}
.selected-option {
    background-color: #c52;
}

/* token list */

.valid-chip, .invalid-chip, .current-session-chip {
    border-radius: 0.5em;
    font-size: 0.9em;
    font-family: sans;
    padding: 0.2em;
    color: black;
    white-space: nowrap;
    line-height: 2em;
}

.valid-chip {
    background-color: green;
}
.valid-chip::after {
    content: 'VALIDATED';
}

.invalid-chip {
    background-color: orange;
}
.invalid-chip::after {
    content: 'NOT VALIDATED';
}

.current-session-chip {
    background-color: #a7f;
}
.current-session-chip::after {
    content: 'CURRENT SESSION';
}

.id-cell {
    font-size: x-large;
}
table {
  border-collapse: collapse;
}
tr {
  border: solid;
  border-width: 0 0 1px 0;
}
tr:hover {
  background-color: #268;
}
td {
  padding-left: 2px;
  padding-right: 2px;
}
