/* "dark mode" */

body {
    background-color: #222;
    color: white;
}

h1 {
    text-align: center;
    font-family: sans;
    font-weight: 100;
    letter-spacing: 0.3em;
    font-variant: small-caps;
    color: gray;
}

.galleryLink  {
    position: relative; /* for absolute positionning of caption */
    display: block;
    color: white;
    text-decoration: none;
    height: 150px;
    width: 150px;
    float: left;

    font-family: sans;
    font-size: 11px;
}

.galleryLink:hover {
    background-color: #333;
    color: #fff6;
}

.galleryLink span {
    position: absolute;
    background-color: #000a;
    padding: 3px;
    width: 100%;
}

.thumb {
    image-orientation: from-image;
    float: left;
    width: 300px;
    height: 300px;
}

.image {
    max-width: 90vw;
    /* allow hiding bottom third but always show middle third. */
    max-height: 150vh;
    image-orientation: from-image;
    /* center */
    margin: 0 auto;
    display: block;
}

.pagerLink {
    clear: left;
    display: block;
    width: 100%;
    text-align: center;
    color: #888;
    text-decoration: none;
    font-size: 3em;
}

.metadata {
    position: fixed;
    width: 10vw;
    min-width: 10em;
    text-align: left;
    top: 4em;
    right: 0;
    padding: 1em;
    background-color: #2228;
}

.tag::before {
    content: "🏷️";
}

.tag {
    border: #fba solid 1px;
    margin: 1px;
    border-radius: 3px;
    padding: 1px;
    line-height: 1.5em;

    background-color:#666;
    color: #fba;
    text-decoration: none;
}

.date::before {
    /*Note: calendar emoji between quotes */
    content: "📅";
}

.metadata div {
    margin-top: 0.5em;
    margin-bottom:0.5em;
}

.date {
    border: white solid 1px;
    margin-left: 1px;
    margin-right: 2px;
    border-radius: 3px;
    padding: 1px;
    background-color: #844;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.debug {
    clear: both;
    font-family: monospace;
    color: darkgray;
}