/* "dark mode" */

body {
    background-color: #222;
    color: white;
}

h1 {
    text-align: center;
    font-family: sans;
    font-weight: 100;
    letter-spacing: 0.3em;
    font-variant: small-caps;
    color: gray;
}

.image {
    max-width: 90vw;
    max-height: 90vh;
    image-orientation: from-image;
    float: left;
}

.metadata {
    float: right;
    width: 10vw;
    min-width: 10em;
    text-align: left;
}

.tag::before {
    content: "🏷️";
}

.tag {
    border: #fba solid 1px;
    margin: 1px;
    border-radius: 3px;
    padding: 1px;
    background-color:#666;
    color: #fba;
}

.date::before {
    /*Note: calendar emoji between quotes */
    content: "📅";
}