/* "dark mode" */

body {
    background-color: #222;
    color: white;
}

h1 {
    text-align: center;
    font-family: sans;
    font-weight: 100;
    letter-spacing: 0.3em;
    font-variant: small-caps;
    color: gray;
}

.thumb {
    image-orientation: from-image;
    float: left;
    width: 300px;
    height: 300px;
}

.image {
    max-width: 90vw;
    max-height: 90vh;
    image-orientation: from-image;
    float: left;
}

.metadata {
    float: right;
    width: 10vw;
    min-width: 10em;
    text-align: left;
}

.pagerLink {
    clear: left;
    display: block;
    width: 100%;
    text-align: center;
    color: #888;
    text-decoration: none;
    font-size: 3em;
}

.tag::before {
    content: "🏷️";
}

.tag {
    border: #fba solid 1px;
    margin: 1px;
    border-radius: 3px;
    padding: 1px;
    background-color:#666;
    color: #fba;
    text-decoration: none;
}

.date::before {
    /*Note: calendar emoji between quotes */
    content: "📅";
}

.date {
    border: white solid 1px;
    margin:1px;
    border-radius: 3px;
    padding: 1px;
    background-color: #844;
    color: white;
    text-decoration: none;
    display: inline-block;
}